<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white;" class="navbar-brand">MedConnect</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" routerLink="/docdash">Back</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" routerLink="/create-medicine">Add Medicines</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <h2>Medicines List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Medicine Name</th>
        <th>Time To Take</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let medicine of medicines">
        <td>
          <input type="checkbox"
                 (change)="toggleMedicineSelection(medicine, $event)">
        </td>

        <td>{{ medicine.drugName }}</td>

        <td>
          <ng-container *ngIf="getSelectedMedicine(medicine) as selectedMed">
            <select
              multiple
              [(ngModel)]="selectedMed.timeToTake"
              class="form-control"
              (change)="updateSelectedTimes(medicine, selectedMed.timeToTake)"
            >
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
              <option value="Night">Night</option>
            </select>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-3">
    <button class="btn btn-primary"
            (click)="assignSelectedMedicines()">
      Assign Selected Medicines
    </button>
  </div>

  <hr>

  <h3>Assigned Medicines (Prescription)</h3>

  <table class="table table-bordered mt-3" *ngIf="assignedMedicines.length > 0">
    <thead>
      <tr>
        <th>Medicine</th>
        <th>Time To Take</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of assignedMedicines">
        <td>{{ m.medicine.drugName }}</td>
        <td>{{ m.timeToTake.join(', ') }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="assignedMedicines.length === 0" class="text-muted">
    No medicines assigned yet.
  </div>

</div>